<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>filter.MainFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchTourController</servlet-name>
        <servlet-class>controller.SearchTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTourController</servlet-name>
        <servlet-class>controller.CreateTourController</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>CreateTour2Controller</servlet-name>
        <servlet-class>controller.CreateTour2Controller</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>LoadTourController</servlet-name>
        <servlet-class>controller.LoadTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCartController</servlet-name>
        <servlet-class>controller.ManageCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartController</servlet-name>
        <servlet-class>controller.LoadCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderController</servlet-name>
        <servlet-class>controller.PlaceOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyDiscountCodeController</servlet-name>
        <servlet-class>controller.ApplyDiscountCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadOrderController</servlet-name>
        <servlet-class>controller.LoadOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchTourController</servlet-name>
        <url-pattern>/SearchTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTourController</servlet-name>
        <url-pattern>/CreateTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTour2Controller</servlet-name>
        <url-pattern>/CreateTour2Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTourController</servlet-name>
        <url-pattern>/LoadTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCartController</servlet-name>
        <url-pattern>/ManageCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartController</servlet-name>
        <url-pattern>/LoadCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderController</servlet-name>
        <url-pattern>/PlaceOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyDiscountCodeController</servlet-name>
        <url-pattern>/ApplyDiscountCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadOrderController</servlet-name>
        <url-pattern>/LoadOrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <resource-ref>
        <res-ref-name>DreamTravelling</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Sharable</res-sharing-scope>
    </resource-ref>
</web-app>
